#!/bin/bash
apt-get update -y
apt-get upgrade -y
apt-get remove docker docker-engine docker.io -y
apt-get install docker.io -y
systemctl start docker
systemctl enable docker
docker pull bkimminich/juice-shop
docker run --rm -p 3000:3000 bkimminich/juice-shop
# apt-get install nginx -y
#wget https://raw.githubusercontent.com/nginxinc/NGINX-Demos/master/nginx-hello/index.html --output-document /usr/share/nginx/html/index.html
#wget https://raw.githubusercontent.com/nginxinc/NGINX-Demos/master/nginx-hello/hello.conf --output-document /etc/nginx/sites-enabled/default
#systemctl restart nginx