#!/bin/bash
apt-get update -y
apt-get upgrade -y
apt-get remove docker docker-engine docker.io -y
apt-get install docker.io -y
systemctl start docker
systemctl enable docker
docker pull bkimminich/juice-shop
docker run --rm -p 80:3000 bkimminich/juice-shop
